.input-group {
    margin: 20px 0px;
}

td, th {
    vertical-align: middle !important;
    text-align: center !important;
}

/*/ size of map select first column*/
td:first-of-type {
    height: 200px;
    width: 250px;
}