.search-bar {
    margin: 20px;
    text-align: center;
}

.search-bar input {
    width: 75%;
}

.video-item img {
    max-width: 64px;
}

/*.list-group-item  img {*/
/*max-width: 64px;*/
/*}*/
.list-group-item {
    cursor: pointer;
}

.list-group-item :hover {
    background-color: #eef;
}

.details {
    margin-top: 10px;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 10px;
}

.details :hover {
    background-color: #eef;
}

.video-list-items {
    margin-top: 10px;
    padding: 10px;
    border: 2px solid #95a5a6;
    border-radius: 10px;
}

.video-detail {
    margin-top: 10px;
    padding: 10px;
    border: 2px solid #95a5a6;
    border-radius: 10px;

}