/*
Basic set up

 */

body {
    margin: 10px;
    font-family: sans-serif;
    background-color: #eee;

}

.post-title, .post-new, .posts-show {
    margin-top: 20px;
    padding-left: 20px;
}

.add-post-btn {
    margin-top: 20px;
}
.list-group-item{
    color: black !important;
}

.list-category{
    color: black;
}
.list-title{
    color: black;
}
.del-btn{
    padding-left: 10px;
    font-family: Helvetica;
}
